/*Global css variables*/
:root {
    --background-color-light: #fff;
}

/*Styling for all*/
* {
    /* Margin added to acomodate menu */
    margin-left: 30px;
    box-sizing: border-box;
}

/*Image Styling*/
img {
    max-width: 100%;
    height: auto;
}

/*Header Style*/
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    display: flex;
}


/*Body Style*/

/*Light Mode Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-light);
    color: #333;
}

/*Dark Mode Styles */
body.dark-mode {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

/*Toggle button style*/
.menu-toggle {
    margin-left: 0px;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: white;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Ensure the symbol is above the menu */
}

/*Popup-side-menu style*/
.popup-menu h2 {
    margin-left: 0px;
    text-align: center;
    padding: 12px;
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the h2 element within the menu */
    overflow: visible; /* Hide any text that overflows the specified width */
}

/*WILL BE DIFFERENT FOR EACH TYPE OF SCREEN
  MOBILE = 100%
  TABLETS ~= 30%
  PCS ~= 10%
*/
.popup-menu {
    margin-left: 0px;
    position: fixed;
    top: 0;
    left: -215px;
    width: 300px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    z-index: 1; /* Ensure the menu is below the symbol */
}

.popup-menu ul {
    margin-left: 0px;
    list-style-type: none;
    padding: 0;
}

.popup-menu li {
    margin-left: 0px;
    margin-bottom: 10px;
}

.popup-menu a {
    margin-left: 0px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*Hovering and current page menu Style*/
.popup-menu a:hover, .popup-menu a.active {
    /*background-color: #b3b3b3; /* Set the background color for the highlighted text */
    color: rgb(34, 199, 202); /* Set the text color for the highlighted text */
    font-weight: bold;
}


/*Toggle Night Mode button Style*/
#toggleNightMode {
    margin-left: auto;
    margin-right: 15px; 
}

/*Main Style*/
main {
    padding: 20px;
}

.tabbingLVL1{
    margin-left: 40px;
}

/*List Margin*/
ul.custom-list {
    list-style-type: square;
    margin-bottom: 5px;
}

/* Image Center */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Extra small devices like phones*/
@media only screen and (max-width: 600px) {
    .col-1 {
        width: 25% !important;
    }

    [class*="col-"] {
        width: 75%;
    }
}

/* Small devices like portrait tablets and large phones*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

/* Medium devices like landscape tablets*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*/*Large devices like laptops/desktops
@media only screen and (min-width: 992px) {
    UNUSED FOR NOW
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}

/*Extra large devices like large laptops and desktops
@media only screen and (min-width: 1200px) {
    UNUSED FOR NOW
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}*/