/*Styling for all*/
* {
    box-sizing: border-box;
}

/*Image Styling*/
img {
    max-width: 100%;
    height: auto;
}

/*Header Style*/
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    display: flex;
}


/*Body Style*/

/*Light Mode Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/*Dark Mode Styles */
body.dark-mode {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

/*nav Style*/
nav {
    background-color: #444;
}

/*Navigation as a whole Style*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    display: flex;
}

/*Navigation line Style*/
nav li {
    float: left;
    margin-right: 15px;
}

/*Navigation button Style*/
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Hovering and active navigation button Style*/
nav a:hover, nav a.active {
    background-color: #ddd;
    color: black;
}

/*Toggle Night Mode button Style*/
#toggleNightMode {
    margin-left: auto;
    margin-right: 15px; 
}

/*Main Style*/
main {
    padding: 20px;
}

.tabbingLVL1{
    margin-left: 40px;
}

/*List Margin*/
ul.custom-list {
    list-style-type: square;
    margin-bottom: 5px;
}

/* Image Center */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Extra small devices like phones*/
@media only screen and (max-width: 600px) {
    .col-1 {
        width: 25% !important;
    }

    [class*="col-"] {
        width: 75%;
    }
}

/* Small devices like portrait tablets and large phones*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

/* Medium devices like landscape tablets*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*/*Large devices like laptops/desktops
@media only screen and (min-width: 992px) {
    UNUSED FOR NOW
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
}

/*Extra large devices like large laptops and desktops
@media only screen and (min-width: 1200px) {
    UNUSED FOR NOW
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}*/