/*Body Style*/

/* Light Mode Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* Dark Mode Styles */
body.dark-mode {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

#toggleNightMode {
    text-align: right;
    margin-right: 15px; 
}

/*Header Style*/
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

/*nav Style*/
nav {
    background-color: #444;
}

/*nav ul Style*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

/*nav li Style*/
nav li {
    float: left;
    margin-right: 15px;
}

/*nav a Style*/
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*nav a:hover Style*/
nav a:hover {
    background-color: #ddd;
    color: black;
}

/*main Style*/
main {
    padding: 20px;
}