/************************************************/
/***************Body Style Changes***************/
/************************************************/

/*Light Mode Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-body-color-light);
    color: var(--text-body-color-light);
}

/*Dark Mode Styles */
body.dark-mode {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}