/************************************************/
/***************Main Style Changes***************/
/************************************************/

main {
    padding: 20px;
}

.tabbingLVL1{
    margin-left: 40px;
}

.tabbingLVL2{
    margin-left: 60px;
}

/*List Margin*/
ul.custom-list {
    list-style-type: square;
    margin-bottom: 5px;
}