/************************************************/
/**********Media Specific Style Changes**********/
/************************************************/

/* Extra small devices like phones*/
@media only screen and (max-width: 600px) {
    .col-1 {
        width: 25% !important;
    }

    [class*="col-"] {
        width: 75%;
    }

    /*Global css variables*/
    :root {
        --menu-box-width: 300px;
        --menu-img-height: 13px;
    }

    /*Styling changes for everything*/
    * {
        font-size: small;
    }

    h1 { 
        /* Margin added to acomodate menu button */
        margin-left: 65px;
    }
}

/* Small devices like portrait tablets and large phones*/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    /*Global css variables*/
    :root {
        --menu-box-width: 400px;
        --menu-img-height: 16px;
    }

    * {
        font-size: medium;
    }

    h1 { 
        /* Margin added to acomodate menu button */
        margin-left: 65px;
    }
}

/* Medium devices like landscape tablets*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /*Global css variables*/
    :root {
        --menu-box-width: 500px;
        --menu-img-height: 18px;
    }
    
    * {
        /* Margin added to acomodate menu */
        margin-left: 30px;
        font-size: large;
    }
}

/*Large devices like laptops/desktops*/
@media only screen and (min-width: 992px) {
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}

    /*Global css variables*/
    :root {
        --menu-box-width: 600px;
        --menu-img-height: 24px;
    }

    * {
        /* Margin added to acomodate menu */
        margin-left: 30px;
        font-size: x-large;
    }
}

/*Extra large devices like large laptops and desktops*/
@media only screen and (min-width: 1200px) {
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}


    /*Global css variables*/
    :root {
        --menu-box-width: 700px;
        --menu-img-height: 32px;
    }

    * {
        /* Margin added to acomodate menu */
        margin-left: 30px;
        font-size: xx-large;
    }
}