/************************************************/
/************Every file Style Changes************/
/************************************************/

/*Global css variables*/
:root {
    /*Header Style variables*/
        /*Light colored styles*/
        --header-background-color-light: #ccc;
        --header-text-color-light: #334;

        /*Dark colored styles*/
        --header-background-color-dark: #556;
        --header-text-color-dark: #fff;

    /*Body Style variables*/
        /*Light colored styles*/
        --body-background-color-light: #fff;
        --body-text-color-light: #334;

        /*Dark colored styles*/
        --body-background-color-dark: #334;
        --body-text-color-dark: #fff;
    
    /*Menu Style variables*/
        /*Light colored styles*/
        --menu-background-color-light: #223;
        --menu-text-color-light: #fff;

        /*Dark colored styles*/
        --menu-background-color-dark: #223;
        --menu-text-color-dark: #fff;
}


/*Styling for all*/
* {
    box-sizing: border-box;
}


/*Image Styling*/
img {
    max-width: 100%;
    height: auto;
}

/*Image Center*/
.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.noline {
    text-decoration: none;
}

/*Fotos Styling*/
.fotos {
    width: var(--fotos-width);
    height: var(--fotos-height);
}