/************************************************/
/************Every file Style Changes************/
/************************************************/

/*Global css variables*/
:root {
    /*Header Style variables*/
        /*Light colored styles*/
        --header-background-color-light: #ccc;
        --header-text-color-light: #334;

        /*Dark colored styles*/
        --header-background-color-dark: #556;
        --header-text-color-dark: #fff;

    /*Body Style variables*/
        /*Light colored styles*/
        --body-background-color-light: #fff;
        --body-text-color-light: #334;

        /*Dark colored styles*/
        --body-background-color-dark: #334;
        --body-text-color-dark: #fff;
    
    /*Menu Style variables*/
        /*Light colored styles*/
        --menu-background-color-light: #223;
        --menu-text-color-light: #fff;

        /*Dark colored styles*/
        --menu-background-color-dark: #223;
        --menu-text-color-dark: #fff;
}


/*Styling for all*/
* {
    box-sizing: border-box;
}



/*Image Center*/
.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.noline {
    text-decoration: none;
}

/*Fotos Styling*/
.fotos_v {
    width: var(--fotos-v-width);
    height: var(--fotos-v-height);
    min-height: var(--fotos-v-min-height);
}

.fotos_h {
    width: var(--fotos-h-width);
    height: var(--fotos-h-height);
    min-height: var(--fotos-h-min-height);
}

/*Video Styling*/
.format_video_v {
    width: var(--videos-v-width);
    height: var(--videos-v-height);
    min-height: var(--videos-v-min-height);
}

.format_video_h {
    width: var(--videos-h-width);
    height: var(--videos-h-height);
    min-height: var(--videos-h-min-height);
}